name: 'EU4 .mod'
scopeName: 'source.eu4-mod.mod'
type: 'tree-sitter'
parser: 'tree-sitter-eu4-mod'

# File's extensions managed
fileTypes: [
  'mod'
]

scopes:
  'source_file': {exact: 'hello', scopes: 'entity.invalid.test'}
