name: 'EU4 .mod'
scopeName: 'source.eu4mod.mod'
type: 'tree-sitter'
parser: 'tree-sitter-eu4mod'

# File's extensions managed
fileTypes: [
  'mod'
]

scopes:

  # Global rules
  'dot_mod > identifier': 'variable.eu4mod.mod'
  'dot_mod > assign_equal': 'keyword.operator.assign.eu4mod.mod'
  'dot_mod > string': 'string.quoted.double.eu4mod.mod'

  # Mod's name
  'dot_mod > mod_name_identifier': 'support.variable.eu4mod.mod'
  'dot_mod > mod_name_value': 'entity.name.function.eu4mod.mod'

  # Others
  'dot_mod > dependencies': 'support.function.eu4mod.mod'
  'dot_mod > tags_keyword': 'support.constant.eu4mod.mod'

# One Dark colors association :
#
# comment (grey)
# string (green)
# support.function / support.type / string.regexp (cyan)
# entity.name.function / entity.name.section (blue)
# entity.name.type / support.class (gold)
# constant / support.constant (orange)
# variable / support.variable (red)
# keyword / storage (pink)
