name: 'EU4 .yml'
scopeName: 'source.eu4mod.yml'
type: 'tree-sitter'
parser: 'tree-sitter-eu4mod'

# File's extensions managed
fileTypes: [
  'yml'
]

scopes:

  # Comment :
  'comment': 'comment.line.eu4mod.yml'

  # Language:
  'dot_yml > localization_language_name': 'entity.name.section.eu4mod.yml'

  # Entry :
  'dot_yml > identifier': 'variable.eu4mod.yml'
  'dot_yml > index': 'constant.eu4mod.yml'
  'dot_yml > localization_string': 'string.eu4mod.yml'

  # Formatting :
  'localization_string > localization_color': 'support.function.eu4mod.yml'
  'localization_string > formatting_boundary': 'keyword.operator.boundary.eu4mod.yml'
  'localization_string > formatting_variable': 'support.constant.eu4mod.yml'
  'localization_string > formatting_delimiter': 'keyword.operator.delimiter.eu4mod.yml'
  'localization_string > formatting_rule': 'support.class.rule.eu4mod.yml'

  # Symbols :
  'dot_yml > assign_colon': 'keyword.operator.assign.eu4mod.yml'



# One Dark colors association :
#
# comment (grey)
# string (green)
# support.function / support.type / string.regexp (cyan)
# entity.name.function / entity.name.section (blue)
# entity.name.type / support.class (gold)
# constant / support.constant (orange)
# variable / support.variable (red)
# keyword / storage (pink)
