name: 'EU4 .mod'
scopeName: 'source.eu4mod.mod'
type: 'tree-sitter'
parser: 'tree-sitter-eu4mod'

# File's extensions managed
fileTypes: [
  'mod'
]

scopes:

  'dot_mod > mod_mono_line > mod_var_name': 'variable.assignement.eu4mod.mod'
  'dot_mod > mod_mono_line > mod_equal': 'keyword.operator.assign.eu4mod.mod'
  'dot_mod > mod_mono_line > mod_var_value': 'string.quoted.double.eu4mod.mod'

  'dot_mod > mod_multi_line > mod_var_name_multi': 'variable.assignement.eu4mod.mod'
  'dot_mod > mod_multi_line > mod_equal': 'keyword.operator.assign.eu4mod.mod'
  'dot_mod > mod_multi_line > mod_var_value': 'string.quoted.double.eu4mod.mod'

  'warning_space_tab': 'invalid.deprecated.warning.eu4mod.mod'
  'debug': 'invalid.illegal.debug.eu4mod.mod'
